<section>
    <form id="loginvalidar" novalidate>
        <h1>Iniciar Sesion</h1>
        <ul>
            <li><label for="rut">Rut</label></li>
            <li><input type="text" id="rut" name="rut" placeholder="Ingrese su Rut"></li>

            <li><label for="contrasena">Contraseña</label></li>
            <li><input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contrasena"></li>
        
            <li><button type="submit">Ingresar</button><span id="span"></span></li>
            
            <li><a href="login/#">Olvide mi contraseña</a></li>
            <li><a href="registro">Registrarse</a></li>
        </ul>
    </form>
</section>
