section{
    display: flex;
        form{
        background-color: rgb(246, 208, 137);
        height: 100%;
        width: 40%;
        border: 3px solid gray;
        margin: 2% 0% 2% 30%;
        h1{
            text-align: center;
            border-bottom: 3px solid gray;
            font-size: 30px;
        }
        ul{
            list-style: none;
            li{
                margin-top: 2%;
                label{
                    font-size: 30px;
                }
                input{
                    height: 1%;
                    font-size: 25px; 
                    border: 2px solid darkgrey;
                    color: white;
                    background-color: black;
                    width: 95%;
                }
                label.error{
                    color: red;
                    font-size: 100px;
                    display: block;
                }
                input.error{
                    border: 3px dashed red;
                    color: red;
                }
                button{
                    font-size: 25px;
                    margin: 3% 0% 3% 25%;
                    border: none;
                    border-radius: 5px;
                    background-color: grey;
                    color: white;
                    padding: 2%;
                    width: 50%;
                    &:hover{
                        background-color: dodgerblue;
                    }
                }
                a{
                    border-radius: 5px;
                    text-decoration: none;
                    font-size: 25px;
                    width: 50%;
                    background-color: grey;
                    color: white;
                    padding: 1%;
                    &:hover{
                        background-color: green;
                    }
                }
            }
        }
    }
}
