.enunciado{
    width: 60%;    
    border: 1px solid;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 2%;
    h1{
        text-align: center;
        width: 100%;
        padding: 1%;
    }
    p{
        text-align: center;
    }
}



.carrusel{
    width: 75%;
    margin: 2% 0% 2% 12.5%;
    height: 100%;
    display: flex;
    border: 1px solid;
    button{
        width: 12.5%;
        height: 100%;
        padding-top: 24%;
        padding-bottom: 24%;
        border: none;
        &:hover{
            height: 100%;
            background-color: orange;
        }
    }
    img{
        height: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
}
