<section>

    <div class="enunciado">
        <h1>Usted se encuentra en la pagina principal</h1>
        <p>En esta pagina web puede ver las noticias recientes, las tarifas actuales de cada linea,</p>
        <p>hacer reclamo o sugerencia, encontrar un bus para tu destino y ver los datos de cada bus/conductor.</p>
    </div>
    
    
    <div class="carrusel">
        <button class="prev">Atras</button>
        <div><img src="" alt=""></div>
        <span></span>
        <button class="next">Adelante</button>
    </div>
</section>
