<section>
    <a href="editarDatos">Editar Datos</a>
    <br>
    <!--Eligir la Unidad, Numero de Bus y paradas-->
    <ul>
        <li>Escoja una unidad: <p>Unidad 1</p></li>
        <li>Escoja el numero del Bus: <p>101</p> </li>
        <li>Parada Inicial: Belloto Norte</li>
        <li>Parada Final: Aduana</li>
    </ul>
    <!--Tabla de Informacion de Bus y Conductor-->>
    <table>
        <tr>
            <td>Patente</td>
            <td>Marca</td>
            <td>Tipo de Combustible</td>
            <td>Horario de Funcionamiento</td>
            <td>Num. Asientos</td>
            <td>Num. Personas Parados</td>
            <td>Conductor</td>
            <td>Rut</td>
        </tr>
        <!--Ejemplos-->
        <tr>
            <td>MT5687</td>
            <td>CAIO</td>
            <td>Electrico</td>
            <td>6:00 - 14:00</td>
            <td>30</td>
            <td>8 max.</td>
            <td>Federico</td>
            <td>19.587.962-K</td>
        </tr>
        <tr>
            <td>ZY1198</td>
            <td>Mercedez Benz</td>
            <td>Diesel</td>
            <td>10:30 - 20:30</td>
            <td>18</td>
            <td>18 max.</td>
            <td>Juan</td>
            <td>15.324.901-5</td>
        </tr>
    </table>
</section>
