/*Boton para Editar*/
section a{
    border: 1px solid black;
    font-size: 30px;
    background-color: white;
    float: right;
    height: 40px;
    width: 200px;
    text-align: center;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 10px;
}
/*Escoja una unidad, numero de bus y paradas*/
section ul{
    list-style: none;
    font-size: 30px;
}
section ul p{
    border: 1px solid;
    width: 150px;
    height: auto;
    background-color: white;
}
/*Edicion de la tabla*/
section table{
    margin-left: 10%;
    border: 1px solid;
    font-size: 30px;
    background-color:brown;
}
td, th{
    border: 1px solid;
    text-align: center;
}